{% extends "layout.html" %}
{% block about %}

<style type="text/css">
  
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */



</style>


  <main role="main" class="innercover">
    <h1 class="cover-heading">Introduction</h1>
    <p class="lead">Faurecia is the 6th largest international automotive parts manufacturer in the world; in 2013 it was #1 for vehicle interiors and emission control technology. One in four automobiles is equipped by Faurecia. It designs and manufactures seats, exhaust systems, interior systems (dashboards, centre consoles, door panels, acoustic modules) and decorative aspects of a vehicle (aluminium, wood).</p>
    <p class="lead">
      <a href="http://www.faurecia.com/en" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Dataviz and Analyst Tool 
        <a href="http://www.faurecia.com/en">Faurecia, by WU He</a></p>
    </div>
  </footer>
{% endblock %}