{% extends "layout.html" %}
{% block about %}


    
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('statiscal') }}">
                  <span data-feather="file"></span>
                  Statistic Result
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('distribution') }}">
                  <span data-feather="shopping-cart"></span>
                  Distribution
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('choice') }}">
                  <span data-feather="users"></span>
                  Chart Choice
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('noquality') }}">
                  <span data-feather="bar-chart-2"></span>
                  Non Quality Pattern
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('quality') }}">
                  <span data-feather="layers"></span>
                  Quality Pattern
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Data Analyse</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('management') }}">
                  <span data-feather="file-text"></span>
                  User management
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pca') }}">
                  <span data-feather="file-text"></span>
                  PCA 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pattern') }}">
                  <span data-feather="file-text"></span>
                  Suggestion Pattern
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('product') }}">
                  <span data-feather="file-text"></span>
                  Verify Product
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create_chart">
                  <span data-feather="file-text"></span>
                  Custome Chart
                </a>
              </li>
            </ul>
          </div>
        </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
          </div>
          <p> We have <b> {{nb_sequence}} </b> data</p>
          <img src="static/data_pics/scatter_matrix.png" width="500px" height="500px">

        
        </main>



{% endblock %}